<!DOCTYPE html>
<html lang="en">
<head>
<title>US Population</title>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet' />
<link rel="stylesheet" href="totalPop_styles.css">
</head>
<main>

    <body>



      <div id='map'></div>
      <div class='map-overlay' id='features'><h2>US population</h2><div id='pd'><p>Hover over a state!</p></div></div>
      <div class='map-overlay' id='legend'></div>





    <script src="totalPop_logic.js"></script>
    </body>
</main>
</html>